<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
</head>
<body>
    <div class="form">
        <legend>Recover Password</legend>
        <% if (recoveryMessage) { %>
            <p><%= recoveryMessage %></p>
        <% } else { %>
            <form method="POST" action="/password-recovery">
                <div class="name">
                    Your name <input type="text" placeholder="First and last name" name="name" /><br /><br />
                </div>
                <div class="email">
                    Email <input type="email" name="email" value="" /><br /><br />
                </div>
                <div class="password">
                    Password <input type="password" placeholder="at least 8 characters" minlength="8" maxlength="25" name="password" value="" /><br /><br /><p class="passConstraint">Passwords must be at least 8 characters.</p>
                </div>
                <button type="submit">Recover Password</button>
            </form>
        <% } %>
        <div class="line"></div>
    </div>
</body>
</html>