<form action="/deleteUser" method="delete">
    <fieldset>
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="password" name="passwordCheck">
    </fieldset>
</form>