<form action="/delete-account" method="delete">
    <fieldset>
        Email:<input type="email" name="email">
        Password: <input type="password" name="password">
        Re-enter Password: <input type="password" name="passwordCheck">
        <input type="submit" value="Delete Account">
    </fieldset>
</form>