<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/hangman.css">
    <link href="Chalktastic-r78L.ttf" rel="stylesheet">
    <title>Hangman Game</title>
</head>
<body>
    <h1>Hangman Game</h1>
    <h2> Category:
        colors
    </h2>

    <div class="game-container">
        <div class="hangman">
            <img id='hangmanPic' src="" alt="">
        </div>
        <div class="word-to-guess"></div>
        <div class="keyboard"></div>
        <div class="game-result"></div>
        <button class="reset-button">Reset Game</button>
         </div>
    <script src="hangman.js"></script>
</body>
</html>