<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    </link>
    <link rel="stylesheet" href="https://www.fontspace.com/chalktastic-font-f32933">

    <title>Recess.io - Login</title>
</head>

<body>
    <!-- changed form action from '/' to '/login' so that login would go through -->
    <div id="bodyCont">
        
        <img class=lisa src="/images/the-simpsons-lisa-simpson.gif" alt="Animated GIF" >  
            <img class="blackboard" src="/images/346021.png" alt="blackboard">
        </div id=container>
        <div class="form">
            <form method="post" action="/login">
            <legend> Login Here! </legend>
            <% if (errorFound) { %>
                <p class="error-message"><%= errorFound %></p>
                <div class="username">
                    Username <input type="username" name="username"/></div>
                    <div class="password">
                    Password <input type="password" minlength="8" maxlength="15" name="password"/><br><br></div>
               
                <button id="submit"type="submit">Sign in</button>
            <%  } else { %>
            <% { %>
                <div class="username">
                    Username <input type="username" name="username"/></div>
                <div class="password">
                    Password <input type="password" minlength="8" maxlength="15" name="password"/>
                    <p class="password-recovery"><a href="https://recess-io.onrender.com/password-recovery">Forgot your password?</a></p>
                </div>
                <% } %>
                    <button id="submit" onclick="">Sign in</button>
                    <p class="account">Need to create an account? <a href="https://recess-io.onrender.com/register">Register</a></p>
                    <% } %>
                    </form>
                </div>
    
    </div>
</body>

</html>