<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/passwordRecovery.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div class="form">
        <legend>Reset Password</legend>
        <% if (recoveryMessage) { %>
            <p><%= recoveryMessage %></p>
        <% } else { %>
            <form method="POST" action="/password-recovery">
                
                <div class="email">
                    Email <input type="email" name="email" value="" /><br /><br />
                </div>
                
                <button type="submit">Reset Password</button>
            </form>
        <% } %>
        
        <div class="line"></div>
    </div>
</body>
</html>