<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form id="reset_form" action="/reset-password" method="POST">
        <fieldset>
            Email: <input type="email" name="email">
            New Password: <input type="password" name="newPassword">
            Re-enter New Password: <input type="password" name="newPasswordCheck">
            <input type="submit" value="Reset Password">
        </fieldset>
    </form>

    <script>
        document.getElementById("reset-from").addEventListener("submit", function (event) {
            event.preventDefault();

            const formData = new FormData(event.target);

            fetch("/reset-password", {
                method: "PUT",
                body: JSON.stringify({
                    email: formData.get("email"),
                    newPassword: formData.get("password"),
                    newPasswordCheck: formData.get("passwordCheck"),
                }),
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    // Handle the response data here
                    console.log(data);
                })
                .catch((error) => {
                    console.error(error);
                });
        });
    </script>
</body>
</html>