<head>
    
    <title>Recess.io - Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<div class="video-container">
    <video autoplay muted loop id="video-background">
        <source src="/register movie .mp4" type="video/mp4">
        
    </video>
    <div class="content">
<body>
<div id="main container>">
    <form action="/register" method="post">
        
            <% if (errorFound) { %>
                <p class="error-message"><%= errorFound %></p>
            
                <div class="inputField">
                Username
                <input type="text" name="username" required>
            </div>
            <div class="inputField">
                Email
                <input type="email" name="email" required>
            </div>
            <div class="inputField">
                Password
                <input type="password" name="password" required>
            </div>
            <div class="inputField">
                Re-enter Password
                <input type="password" name="passwordCheck" required>
            </div>

            <div> 
        
                <input type="submit" value="Create Account">
                <%  } else { %> 
                    <div class="inputField">
                        Username
                        <input type="text" name="username" required>
                    </div>
                    <div class="inputField">
                        Email
                        <input type="email" name="email" required>
                    </div>
                    <div class="inputField">
                        Password
                        <input type="password" name="password" required>
                    </div>
                    <div class="inputField">
                        Re-enter Password
                        <input type="password" name="passwordCheck" required>
                    </div>
        
                    <div> 
                
                        <input type="submit" value="Create Account"> 
                        <% } %>
            </div>
      
    </form>
</body>
</div>