<head>
    <!-- <link rel="" href=""> -->
    <title>HAGG.io - Register</title>
</head>

<div id="main container>">
    <form action="/register" method="post">
        <fieldset>
            <% if (errorFound) { %>
                <p class="error-message"><%= errorFound %></p>
            
                <div class="inputField">
                Username
                <input type="text" name="username" required>
            </div>
            <div class="inputField">
                Email
                <input type="email" name="email" required>
            </div>
            <div class="inputField">
                Password
                <input type="password" name="password" required>
            </div>
            <div class="inputField">
                Re-enter Password
                <input type="password" name="passwordCheck" required>
            </div>

            <div> 
        
                <input type="submit" value="Create Account">
                <%  } else { %> 
                    <div class="inputField">
                        Username
                        <input type="text" name="username" required>
                    </div>
                    <div class="inputField">
                        Email
                        <input type="email" name="email" required>
                    </div>
                    <div class="inputField">
                        Password
                        <input type="password" name="password" required>
                    </div>
                    <div class="inputField">
                        Re-enter Password
                        <input type="password" name="passwordCheck" required>
                    </div>
        
                    <div> 
                
                        <input type="submit" value="Create Account"> 
                        <% } %>
            </div>
        </fieldset>
    </form>
</div>