<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>

    <!-- <div id="boardgame">
    <div cellindex=0 class="square"></div>
    <div cellindex=1 class="square"></div>
    <div cellindex=2 class="square"></div>
    <div cellindex=3 class="square"></div>
    <div cellindex=4 class="square"></div>
    <div cellindex=5 class="square"></div>
    <div cellindex=6 class="square"></div>
    <div cellindex=7 class="square"></div>
    <div cellindex=8 class="square"></div>
    </div>
    <script src="tic.js"> </script> -->
    <div class="container">
        <div>
            <h1>Tic-Tac-Toe</h1>
            <h2>Will you be X's or O's</h2>
            <form>
                <fieldset>
                    <input id="playerX" type="radio" name="X" value="X">
                    <label>X</label>
                    <input id="playerO" type="radio" name="O" value="O">
                    <label>O</label>
                </fieldset>
                <button id="resetBtn">Reset</button>
            </form>
        </div>

    </div>


    <button>Reset</button>
    </div>
</body>

</html>