body {
    font-family: Arial, sans-serif;
    background-color: green;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #007bff;
    color: #fff;
}

.navbar-brand {
    font-weight: bold;
}

.nav-item {
    margin-right: 10px;
}


h1 {
    font-size: 28px;
    margin: 20px 0;
    color: #333;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: yellowgreen;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}


.error-message {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}


.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}