body {
    font-family: Arial, sans-serif;
    background-color: #22af4a;
    background-image: url('/images/play.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: black;
    font-weight: bold;
}

form {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    background-color: #096022;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

div {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

p {
    font-weight: bold;
    color: black;
}

.ch {
    font-weight: bold;
    color: yellow;

}